
{% embed 'navbar.html.twig' %}
    {% block navbar_content %}
        <a href="{{ path('app_youtube_channel_index') }}">
            <span>Chaines Youtube baby !</span>
            <i class="far fa-grin-wink "></i>
        </a>
    {% endblock %}
{% endembed %}
