{% extends 'base-vertically-centred.html.twig' %}

{% block title -%}
    {{ channel.title }}
{%- endblock %}

{% block favicon %}
    {{ include('Pages/Common/_youtube_fav_icon.html.twig') }}
{% endblock %}

{% block navbar %}
    {% embed 'navbar.html.twig' %}

        {% trans_default_domain 'channel' %}

        {% set title %}
            <a href="{{ channel.url }}">
                <i class="fab fa-youtube"></i>
                <span>{{- 'channel.youtube_channel'|trans }}</span>
            </a>
            <div>
                {{- 'channel.name_with_not_hidden_stats'|trans({
                    'channel_name': channel.title,
                    'not_hidden': channel.stats.totalNotHiddenVideos,
                    'total': channel.stats.totalOfVideos})
                -}}
            </div>
        {% endset %}

        {% set text_added_at %}
            <div>Chaine ajoutée le {{ channel.createdAt | format_datetime('long', 'none') }}</div>
        {% endset %}

        {% block navbar_content %}
            {# remove display: flex property from boostrap (.navbar > .container #}
            <div class="d-none d-sm-block container-fluid">
                <div class="row align-items-center">
                    <div class="col col-sm-6">
                        {{ title }}
                    </div>
                    <div class="col col-sm-6 text-right">
                        {{ text_added_at }}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block navbar_mobile %}
            <div class="d-sm-none container-fluid">
                {{ title }}
                {{ text_added_at }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for video in active_videos %}
                {{ include('Pages/Common/_item_video.html.twig', {'css_class': 'col video-box-sizing'}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block main_footer %}
    {{ include('Pages/Common/_hidden_videos.html.twig') }}
{% endblock %}
