
{% if twig_display_channel_name|default(false) %}
    <div class="channel-title">{{ video.channel.name }}</div>
{% endif %}
<div class="video-name">
    <a href="{{ video.url }}">{{ video.name }}</a>
    &nbsp;( {{ video.publishedAt | ago }} )
    {% set form = create_post_form(path('app_youtube_video_remove_hide', { 'id': video.id }), {'icon': 'far fa-times-circle'}) %}
    {{ form_start(form, {'attr': {'class': 'hide-video'}}) }}
    {{ form_row(form.submit, {'label': false, 'attr': {'class': 'btn-icon', 'title': 'Ne plus cacher la vidéo'}}) }}
    {{ form_end(form) }}
</div>
