{% extends 'base-vertically-centred.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row flex-column justify-content-center align-items-center">
            <h5>
                Salut
                <i class="far fa-2x fa-grin-wink"></i>
            </h5>
        </div>
    </div>

{% endblock %}
