{% extends 'base-vertically-centred.html.twig' %}

{% block content %}

    <div class="container card py-4">
        <form action="" method="post">
            {% for parameter in parameters %}
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label">{{ parameter.id }}</label>
                    <div class="col-sm-7">
                        <input id="" class="form-control" name="parameter[{{ parameter.id }}]" value="{{ parameter.value }}" />
                    </div>
                </div>
            {% endfor %}
            <div class="text-right">
                <button type="submit" class="btn btn-primary mb-2">
                    Enregistrer
                </button>
            </div>
        </form>
    </div>

{% endblock %}
