
{% embed 'navbar.html.twig' %}
    {% block navbar_content %}
        <a href="{{ path('app_administration_email_filter_aliases_index') }}">
            <span>Filter Aliases baby !</span>
            <i class="far fa-grin-wink "></i>
        </a>
    {% endblock %}
{% endembed %}
