{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'Pages/AdministrationEmails/_navbar.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/datatables-1.10.22/css/jquery.dataTables.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/datatables-1.10.22/js/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="administration-email" class="container-fluid">
        <div id="table-menu">
            {% block table_menu_buttons %}{% endblock %}
        </div>
        <table id="administration-email-table" class="table table-striped table-responsive-lg">
            <thead>
            {% block administration_emails_table_thead %}{% endblock %}
            </thead>
            <tbody>
            {% block administration_emails_table_tbody %}{% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}
