{% extends 'Pages/AdministrationEmails/base-table.html.twig' %}

{% block table_menu_buttons %}
    <a class="btn btn-outline-primary" href="{{ path('app_administration_email_filter_aliases_new') }}" title="Ajouter un alias filtre">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}

{% block administration_emails_table_thead %}
    <tr>
        <th>Alias de filtre</th>
        <th>Commentaire</th>
        <th>Redirection</th>
        <th class="date">Créé le</th>
        <th class="date">Modifié le</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <input id="filter-first-letters-input" type="text" placeholder="Filtrer les 1ères lettres" />
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{% endblock %}

{% block administration_emails_table_tbody %}

    {% set cmdName = 'app_administration_email_filter_aliases_command_' %}

    {% for aliasFilter in aliasFilters %}
    <tr class="{% if not aliasFilter.isEnabled %}trash{% endif %}">
        <td>{{ aliasFilter.email }}</td>
        <td class="comment" title="{{ aliasFilter.comment }}">
            <p>{{ aliasFilter.comment }}</p>
        </td>
        <td>{{ aliasFilter.forward }}</td>
        <td class="date" data-sort='{{ aliasFilter.createdAt.timestamp ?: '' }}' title="{{ aliasFilter.createdAt | format_datetime('long') }}">{{ aliasFilter.createdAt | format_date }}</td>
        {% if aliasFilter.updatedAt is not null %}
            <td class="date" data-sort='{{ aliasFilter.updatedAt.timestamp }}' title="{{ aliasFilter.updatedAt | format_datetime('long') }}">{{ aliasFilter.updatedAt | format_date }}</td>
        {% else %}
            <td class="date" data-sort='0'></td>
        {% endif %}
        <td class="icon">
            <div class="dropdown">
                <button id="action-menu-{{ aliasFilter.id }}" class="btn btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="action-menu-{{ aliasFilter.id }}">
                    {% set id = {'id': aliasFilter.id } %}
                    <a class="dropdown-item" href="{{ path( 'app_administration_email_filter_aliases_edit', id) }}">
                        Modifier
                    </a>
                    {% if aliasFilter.isEnabled %}
                        <a class="dropdown-item" href="{{ path( cmdName~'trash', id ) }}">
                            Mettre à la poubelle
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path( cmdName~'untrash', id ) }}">
                            Rétablir
                        </a>
                        <a class="dropdown-item" href="{{ path( cmdName~'delete', id ) }}" data-toggle="modal" data-target="#modal-delete-item" data-name="{{ aliasFilter.email }}">
                            Supprimer définitivement
                        </a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block modals %}
    {{ include ('Modals/delete-item.html.twig', {'modal_description': 'Supprimer le filtre <strong>%name%</strong> définitivement ?'}) }}
{% endblock %}
