
{% set modal_title = modal_title is defined ? modal_title : '' %}
{% set modal_description = modal_description is defined ? modal_description : '' %}

<div id="modal-delete-item" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">{{ modal_title }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                {% block modal_body_text %}
                    {{ modal_description|raw }}
                {% endblock %}
                </p>
            </div>

            <div class="modal-footer">
            {% block modal_footer_buttons %}
                <button id="modal-confirm-action" type="button" class="btn btn-danger">
                    Supprimer
                </button>
            {% endblock %}
            </div>

        </div>
    </div>
</div>
