
.dataTables_toolbar {
    display: flex;
    flex-wrap: wrap;
    .dataTables_length {
        float: initial;
        text-align: left;
        @include make-col(7);
        @media #{$min-width-md} {
            @include make-col(4);
        }
        @media #{$min-width-lg} {
            @include make-col(5);
        }
    }
    .dataTables_clear_button {
        @include make-col(5);
        text-align: right;
        @media #{$min-width-md} {
            @include make-col(2);
            text-align: center;
        }
        @media #{$min-width-lg} {
            @include make-col(1);
        }
    }
    .dataTables_filter {
        float: initial;
        @include make-col(12);
        @media #{$min-width-md} {
            @include make-col(6);
            text-align: right;
        }
        @media #{$min-width-lg} {
            @include make-col(6);
        }
    }
}

#administration-email {
    margin-bottom: 75px;
    table#administration-email-table {
        margin-bottom: 25px;
        tr {
            &.trash {
                background-color: lighten(pink, 5%);
            }
        }
        td {
            &.comment {
                font-size: 13px;
                p {
                    margin: 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
    .dataTables_paginate {
        .paginate_button {
            /* Set min-width to avoid resizing when user paging click */
            min-width: 55px;
        }
    }
}
