
html, body {
    height: 100%;
}

#wrapper {
    flex: 1 0 auto;
    .navbar-nav {
        /* Remove min-height: 100vh; from sb-admin-2.min.css */
        min-height: initial;
    }
    #content-wrapper {
        #main-title {
            font-weight: bolder;
            margin-top: 10px;
        }
        footer {
            min-height: 50px;
            padding: 10px 25px;
            background-color: #e8e8e8;
        }
    }
}
