
#accordionSidebar {
    .collapse-item {
        /* Remove white-space: no-break; from sb-admin-2.min.css */
        white-space: initial;
    }
    li.nav-item.current,
    li.nav-item.current_ancestor {
        > a {
            > i {
                color: whitesmoke;
            }
            > span {
                color: white;
                font-weight: bold;
            }
        }
    }
    a.collapse-item.current,
    a.collapse-item.current_ancestor {
        background-color: red;
        i, span {
            color: whitesmoke;
        }
    }
}
