
#youtube-channels {
    width: 100%;
    .youtube-channels-inner {
        display: flex;
        flex-wrap: wrap;
        /* has 1 element max */
        &:has(> .youtube-channel:last-child:nth-child(1)) {
            justify-content: center;
        }
        @media #{$min-width-md} {
            /* between 1 and 2 elements */
            &:has(> .youtube-channel:last-child:nth-child(-n + 2)) {
                justify-content: center;
            }
        }
        @media #{$min-width-lg} {
            /* between 1 and 4 elements */
            &:has(> .youtube-channel:last-child:nth-child(-n + 4)) {
                justify-content: center;
            }
        }
        @media #{$min-width-xl} {
            /* between 1 and 6 elements */
            &:has(> .youtube-channel:last-child:nth-child(-n + 6)) {
                justify-content: center;
            }
        }
        .youtube-channel {
            .channel-name {
                height: 35px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                a {
                    color: black;
                    font-weight: bolder;
                }
            }
        }
    }
}

.youtube-video {
    // Size of the high resolution of YouTube thumbnails
    max-width: 480px !important;
    margin-bottom: 10px;
    .image {
        position: relative;
        .duration {
            position: absolute;
            right: 3px;
            bottom: 3px;
            border-radius: 3px;
            padding: 0 5px;
            font-size: 12px;
            font-weight: bold;
            background-color: darkblue;
            color: #e8e8e8;
        }
    }
    .video-name {
        font-weight: bold;
        line-height: 1.2;
        font-size: 14px;
        margin-top: 10px;
        height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .video-description {
        display: flex;
        justify-content: space-between;
        height: 25px;
    }
    .alert-error {
        background-color: pink;
        color: black;
        padding: 5px;
        margin: 5px 0;
    }
}

.hide-video {
    button {
        padding: 0;
        margin: 0;
    }
}

.video-box-sizing {
    @include make-col(12);
    @media #{$min-width-sm} {
        @include make-col(6);
    }
    @media #{$min-width-md} {
        @include make-col(4);
    }
    @media #{$min-width-lg} {
        @include make-col(3);
    }
    @media #{$min-width-xl} {
        @include make-col(2);
    }
}

#youtube-channels-footer {
    margin: 10px;
    font-size: 14px;
}

ul.youtube-hidden-channels {
    list-style-type: none;
    padding: 0;
    li {
        display: flex;
        flex-direction: column;
        @media #{$min-width-md} {
            flex-direction: initial;
            align-items: center;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
            @media #{$min-width-xs} {
                margin-bottom: initial;
            }
        }
        .channel-title {
            font-weight: bold;
            text-transform: uppercase;
            @media #{$min-width-md} {
                &:after {
                    content: '-';
                    font-weight: initial;
                    margin: 0 5px;
                }
            }
        }
        .video-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: inherit;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            .hide-video {
                margin-left: 5px;
                @media #{$min-width-xs} {
                    margin-left: 10px;
                }
                i {
                    color: lightcoral;
                }
            }
            &:has(.hide-video:hover) {
                background-color: lightgoldenrodyellow;
            }
        }
    }
}

.btn-icon {
    color: var(--primary);
}

.fa-youtube {
    color: red;
}