
{% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-{{ label }}">
        {{ message|trans({}, 'flash') }}
    </div>
    {% endfor %}
{% endfor %}
