<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{% block title %}{{ website_title }}{% endblock %}</title>

    <meta name="description" content="" />
    <meta name="author" content="David Dadon - https://www.ipnoz.net" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="" />
    <meta name="Language" content="fr" />

    {% block favicon %}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon.ico') }}" />
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free-5.15.1-web/css/all.min.css') }}" />
    {# sb-admin-2 stylesheet integrate bootstrap 4.5.3 #}
    <link rel="stylesheet" href="{{ asset('vendor/sb-admin-2/sb-admin-2.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}" />
</head>

<body class="d-flex flex-column">
    <div id="wrapper">

        {{ knp_menu_render('app.side_menu', { 'template': 'sidebar.html.twig' }) }}

        <div id="content-wrapper" class="d-flex flex-column">

            <header>
                {% block navbar %}
                    {% include 'navbar.html.twig' %}
                {% endblock %}
            </header>

            <div class="container">
                {% include 'Modules/flash-message.html.twig' %}
            </div>

            {% block main %}
                {% block main_title %}{% endblock %}
                <main id="content">
                    {% block content %}{% endblock %}
                </main>
            {% endblock %}

            <footer>
                {% block footer %}{% endblock %}
            </footer>
        </div>

    </div>

    {% block modals %}{% endblock %}

    <script src="{{ asset('vendor/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap-4.5.3/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('vendor/sb-admin-2/sb-admin-2.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/app.min.js') }}"></script>

</body>
</html>
