{% extends 'knp_menu.html.twig' %}

{% set accordion_id_key = constant('App\\Infrastructure\\KnpMenu\\SideMenuBuilder::ACCORDION_ID') %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    <ul id="{{ item.extras[accordion_id_key] }}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ item.uri ?: path('app_homepage') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                {{- block('icon') -}}
            </div>
            <div class="sidebar-brand-text mx-3">{{ item.label }}</div>
        </a>
        {{ block('children') }}
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% set is_open = matcher.isCurrent(item) or matcher.isAncestor(item) %}
        <a class="nav-link{% if not is_open %} collapsed{% endif %}"
           href="#" data-toggle="collapse"
           data-target="#{{ item.extras.accordion_id }}"
           aria-controls="{{ item.extras.accordion_id }}"
           aria-expanded="{{ is_open ? 'true' : 'false' }}"
        >
            {{- block('label') -}}
        </a>
        <div id="{{ item.extras.accordion_id }}" class="collapse{% if is_open %} show{% endif %}" aria-labelledby="headingPages" data-parent="#{{ item.parent.extras[accordion_id_key] }}">
            <div class="bg-white py-2 collapse-inner rounded">
                {{ block('children') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block icon -%}
    {% if item.extras.fa_icon is defined -%}
        <i class="{{ item.extras.fa_icon }}"></i>
    {%- endif %}
{%- endblock %}

{% block divider -%}
    <hr class="sidebar-divider">
{%- endblock %}

{% block heading -%}
    <div class="sidebar-heading">
        {{- item.extras.heading -}}
    </div>
{%- endblock %}

{% block label -%}
    {{- block('icon') }}
    <span>
        {%- if options.allow_safe_labels and item.getExtra('safe_label', false) -%}
            {{- item.label|raw -}}
        {%- else -%}
            {{- item.label -}}
        {%- endif -%}
    </span>
{%- endblock %}

{% block item %}
    {% if item.extras.heading is defined -%}
        {{- block('divider') -}}
        {{- block('heading') -}}
    {% elseif item.extras.divider is defined -%}
        {{- block('divider') -}}
    {% else %}

        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}
        {% if item.level > 1 %}
            {%- set classes = classes|merge(['collapse-item']) %}
        {% else %}
            {%- set classes = classes|merge(['nav-item']) %}
        {% endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}

        {% import _self as knp_menu %}

        {% if item.level > 1 %}
            <a href="{{ item.uri }}"{{ knp_menu.attributes(attributes) }}>{{ block('label') }}</a>
        {% else %}
            <li{{ knp_menu.attributes(attributes) }}>
                {% if not item.hasChildren %}
                    {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                        <a href="{{ item.uri }}" class="nav-link">{{ block('label') }}</a>
                    {%- else %}
                        {{ block('spanElement') }}
                    {%- endif %}
                {% endif %}
                {{ block('list') }}
            </li>
        {% endif %}
    {%- endif %}
{% endblock %}
