{% extends 'Mail/base.html.twig' %}

{% block header %}
    <div>
        <h4>
            <a href="{{ channel.url }}">{{ channel.title }}</a>
        </h4>
        <h6>{{ title }}</h6>
    </div>
{% endblock %}

{% block content %}
    <ul>
        {% for video in channel.activities %}
            <li><a href="{{ video.url }}">{{ video.name }}</a></li>
        {% endfor %}
    </ul>
    {% if channel.activities|length == 1 %}
        <div class="container">
            <pre>
                {{ channel.activities[0].description }}
            </pre>
        </div>
    {% endif %}
{% endblock %}
